<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Somos un equipo emprendedor que busca los mejores resultados para sus clientes. Amantes del diseño, la creatividad y el buen gusto">
    <meta name="keywords" content="Keep Connect, Marketing Digital, Comunicación y Desarrollo Web, Posicionamiento Web, Publicidad en Internet, Buscadores Web, email marketing, estrategias online, marketing 2.0, agencia de publicidad, empresas de marketing, Posicionamiento web en los buscadores, Posicionamiento en google, Posicionar en google, Publicidad en google">
    <title>Quien soy - Matias Ippoliti</title>
    <style> @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    
    <header>

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">

            <a class="navbar-brand" href="#">Matías Ippoliti</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="seccion2.html">Quien Soy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="seccion3.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="seccion4.html">Portfolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="seccion5.html">Contacto</a>
                  </li>
              </ul>
            </div>
          </nav>


        <section class="textos-header">
            <h1 class="fade-in-top">Quien Soy</h1>
        </section>

        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    
    <div class="title">
      <h2>Mi Historia</h2>
    </div>
    <div class="timeline">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="timeline-container">
              <div class="timeline-end">
                <p>2017</p>
              </div>
              <div class="timeline-continue">
                <div class="row timeline-right">
                  <div class="col-md-6">
                    <p class="timeline-date">
                      10 Mar 2017
                    </p>
                  </div>
                  <div class="col-md-6">
                    <div class="timeline-box">
                      <div class="timeline-icon">
                        <i class="fa fa-gift"></i>
                      </div>
                      <div class="timeline-text">
                        <h3>Producción Audiovisual</h3>
                        <p>Comienzo mi carrera como productor Audiovisual</p>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row timeline-left">
                  <div class="col-md-6 d-md-none d-block">
                    <p class="timeline-date">
                      6 Abr 2018
                    </p>
                  </div>
                  <div class="col-md-6">
                    <div class="timeline-box">
                      <div class="timeline-icon d-md-none d-block">
                        <i class="fa fa-gift"></i>
                      </div>
                      <div class="timeline-text">
                        <h3>Filmmaking</h3>
                        <p>Empiezo a realizar mis primeros trabajos audiovisuales</p>
                      </div>
                      <div class="timeline-icon d-md-block d-none">
                        <i class="fa fa-business-time"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 d-md-block d-none">
                    <p class="timeline-date">
                      6 Abr 2018
                    </p>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-12">
                    <div class="timeline-year">
                      <p>2019</p>
                    </div>
                  </div>
                </div>
  
                <div class="row timeline-right">
                  <div class="col-md-6">
                    <p class="timeline-date">
                      7 Ene 2019
                    </p>
                  </div>
                  <div class="col-md-6">
                    <div class="timeline-box">
                      <div class="timeline-icon">
                        <i class="fa fa-briefcase"></i>
                      </div>
                      <div class="timeline-text">
                        <h3>Marketing Digital</h3>
                        <p>Comienzo a estudiar Marketing de manera autodidacta</p>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row timeline-left">
                  <div class="col-md-6 d-md-none d-block">
                    <p class="timeline-date">
                      15 Mar 2019
                    </p>
                  </div>
                  <div class="col-md-6">
                    <div class="timeline-box">
                      <div class="timeline-icon d-md-none d-block">
                        <i class="fa fa-cogs"></i>
                      </div>
                      <div class="timeline-text">
                        <h3>Social Media</h3>
                        <p>Implemento conocimientos de ambos rubros en conjunto</p>
                      </div>
                      <div class="timeline-icon d-md-block d-none">
                        <i class="fa fa-cogs"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 d-md-block d-none">
                    <p class="timeline-date">
                      15 May 2019
                    </p>
                  </div>
                </div>
  
                <div class="row timeline-right">
                  <div class="col-md-6">
                    <p class="timeline-date">
                      25 Oct 2019
                    </p>
                  </div>
                  <div class="col-md-6">
                    <div class="timeline-box">
                      <div class="timeline-icon">
                        <i class="fa fa-running"></i>
                      </div>
                      <div class="timeline-text">
                        <h3>Analytics</h3>
                        <p>Profundizo en el manejo de datos en las redes sociales</p>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row timeline-left">
                  <div class="col-md-6 d-md-none d-block">
                    <p class="timeline-date">
                      10 Dic 2020
                    </p>
                  </div>
                  <div class="col-md-6">
                    <div class="timeline-box">
                      <div class="timeline-icon d-md-none d-block">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="timeline-text">
                        <h3>Desarrollo Web</h3>
                        <p>Incursiono en un nuevo rubro para seguir creciendo</p>
                      </div>
                      <div class="timeline-icon d-md-block d-none">
                        <i class="fa fa-home"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 d-md-block d-none">
                    <p class="timeline-date">
                      10 Dic 2020
                    </p>
                  </div>
                </div>
  
                
  
              </div>
              
              <div class="timeline-start">
                <p>2021</p>
              </div>
  
              <div class="timeline-launch">
                <div class="timeline-box">
                  <div class="timeline-text">
                    <h3>Desarrollo y Contenido para PyMES</h3>
                    <p>Potenciando a las pequeñas y medianas empresas con soluciones digitales</p>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image">
          <img src="/Img/perfil.jpg" style="width: 350px; height: 350; alt="profile-card">
        </div> 
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/MatiasLIppoliti"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/matiasippoliti"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/matias-ippoliti-056014180/"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <div class="details">
          <h2>Matías Ippoliti
            <br>
            <span class="job-title">Desarrollador Web & Productor Audiovisual</span>
          </h2>
        </div>
      </div>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    
    <footer class="bg-light text-dark pt-5 pb-4">	

      <div class="container text-center text-md-left">
    
        <div class="row text-center text-md-left">
    
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-info text-center text-danger">Ayuda</h5>
              <hr class="mb-4">
          <p>
            <a href="/index.html" class="text-dark" style="text-decoration: none;"> Inicio</a>
          </p>
          <p>
            <a href="seccion2.html" class="text-dark" style="text-decoration: none;"> Quien Soy</a>
          </p>
          <p>
            <a href="seccion3.html" class="text-dark" style="text-decoration: none;"> Servicios</a>
          </p>
          <p>
            <a href="seccion4.html" class="text-dark" style="text-decoration: none;"> Portfolio</a>
          </p>
          <p>
            <a href="seccion5.html" class="text-dark" style="text-decoration: none;"> Contacto</a>
          </p>
    
          </div>
    
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-info text-center text-danger" >Contacto</h5>
              <hr class="mb-4">
            <p>
              <i class="fas fa-home mr-3 text-center"></i> <br> Punta Alta, Buenos Aires, Argentina
            </p>
            <p>
              <i class="fas fa-envelope mr-3 text-center"></i> <br> <span class="email-margin"> matiasippoliti@gmail.com </span>
            </p>
            <p>
              <i class="fas fa-phone mr-3 text-center"></i> <br> +542932532643
            </p>
          </div>
          
        </div>
    
        <hr class="mb-4">
        <div class=" row d-flex justify-content-center">
            <div>
              <p>	Copyright ©2021 Todos los derechos reservados por:
                <a href="#" style="text-decoration: none;">
                  <strong class="text-info text-danger">Matías Ippoliti</strong>
                </a>
              </p>
            </div>
        </div>
          <div class="row d-flex justify-content-center">
            <div class="text-center ">
    
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/MatiasLIppoliti" class="text-dark" ><i class="fab fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://twitter.com/matiasippoliti" class= "text-dark" ><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/matias-ippoliti-056014180/" class=" text-dark" ><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
    
            </div>        
          </div>     
        </div>
      </div>
    </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>        



        
</body>
</html>